@charset "UTF-8";
/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(186, 252, 206);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(58, 151, 46);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(58, 97, 66);
}

.basico {
    color: rgb(58, 97, 66);
}

.intermediario {
    color: rgb(148, 184, 17);
}

.avancado {
    color: rgb(180, 45, 45);
}

.destaque {
    background-color: rgba(211, 211, 89, 0.452);
}