@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
     /*height: 100%;*/
}

body {
        background-image: linear-gradient(to right, #FFF5F3, #FBE2D0);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7a6b5bab;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
color: #507993;
text-align: center;
text-shadow: 1px 1px 0px #2b4250bd;
}
h2 {
color: #D4B99E;
}
p {
    text-align: justify;
}